{
  "secret_controller_hostname_path": "${secret_controller_hostname_path}",
  "secret_controller_port_path": ${secret_controller_port_path},
  "chromium_download_url": "${chromium_download_url}",
  "chromium_extract_path": "${chromium_extract_path}",
  "debug_port": ${debug_port}
}