{
  "controller_hostname": "${controller_hostname}",
  "controller_port": ${controller_port},
  "chromium_download_url": "${chromium_download_url}",
  "chromium_extract_path": "${chromium_extract_path}",
  "debug_port": ${debug_port}
}